@using PagedList.Mvc
@model PagedList.IPagedList<PontoB.Models.AusenciaColaboradores>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}
@section css{

    <link rel="stylesheet" href="~/Content/CSS/select2.min.css">
    <link rel="stylesheet" href="~/Content/CSS/cadastroAusencia.css">

}

<h2 class="pb-3">Cadastro Ausência</h2>
@Html.ActionLink("Novo", "/Form", null, new { @class = "btn botao_padrao btn-sm" })
<h5 class="pt-1">Filtrar</h5>
@using (Html.BeginForm("Filtro", "Ausencia", FormMethod.Get, new { @id = "FiltroAusencia", @name = "FiltroAusencia" }))
{
    <div class="form-row pb-1 pt-1">
        <div class="form-group col-md-2">
            <select id="OpcaoFiltro" class="form-control" name="coluna">
                <option selected="@ViewBag.FiltroColuna.Equals("Todos")">Todos</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Colaborador")">Colaborador</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Data Inicio")">Data Inicio</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Data Fim")">Data Fim</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Empresa")">Empresa</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Motivo")">Motivo</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Grupo")">Grupo</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <div class="input-group mb-1">
                <input type="text" class="form-control" name="texto" value="@ViewBag.Filtro" placeholder="Pesquisar">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><img src="~/Content/img/Lupa2.png" width="20" height="20" alt=""></button>

                </div>
            </div>
        </div>
    </div>
}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Ação</th>
                <th>Código</th>
                <th>Colaborador</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Empresa</th>
                <th>Motivo</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ausencia in Model)
            {


                <tr onclick="location.href = '@Url.Action("Form", "Ausencia", new { Id = ausencia.Ausencia.Id})';" style="cursor:Pointer">
                    <td><a href="@Url.Action("ExcluirAusenciaColaborador", "Ausencia", new { AusenciaColaboradorId = ausencia.Id, ViewOrigem = "Index" })" class="Botao_Excluir" onclick="return confirm('Confirma Exclusão do Registro @ausencia.Id ? ') "><img type="button" src="~/Content/img/lixeira.png" width="20" height="20" /></a></td>
                    <td>@ausencia.Id</td>
                    <td>@ausencia.Colaborador.NomeCompleto</td>
                    <td>@ausencia.DataInicio</td>
                    <td>@ausencia.DataFim</td>
                    <td>@ausencia.Colaborador.Empresa.RazaoSocial</td>
                    <td>@ausencia.MotivoAusencia.Descricao</td>
                    <td>@ausencia.Ausencia.Descricao</td>

                </tr>
            }
        </tbody>
    </table>
    <br />

    @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page, coluna = ViewBag.FiltroColuna, filtro = ViewBag.Filtro }), new PagedListRenderOptions
{
    FunctionToTransformEachPageLink = (liTag, aTag) =>
    {
        aTag.Attributes.Add("class", "page-link");
        liTag.InnerHtml = aTag.ToString();
        return liTag;
    },
    LiElementClasses = new[] { "page-item" },
    UlElementClasses = new[] { "pagination justify-content-center" }
})
</div>

@section scripts{

    <script src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/pt-BR.js"></script>
    <script src="~/Content/js/CadastroAusencia.js"></script>


}