
@{


    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}


<h3 class="pb-3">Cadastro Empresa</h3>
<!--
<form action="/Empresa/Adiciona" method="post">-->
@using (Html.BeginForm("Adiciona", "Empresa", FormMethod.Post, new { @id = "CadastroEmpresa", @name = "CadastroEmpresa" }))
{
    <input type="button" id="Botao_Nova_Empresa" class="btn botao_cor btn-sm" value="Novo">
    <div class="form-row pb-1 pt-4 ">
        <div class="form-group col-md-2">
            <label for="CodigoEmpresa">Código</label>
            <div class="input-group mb-1">
                <input type="text" class="form-control" id="Empresa_id" disabled placeholder="Código" name="empresa.Id" value="@ViewBag.Empresa.Id">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index", "Empresa")';" type="button" id="button-addon2"><img src="~/Content/img/Lupa2.png" width="20" height="20" alt=""></button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="RazaoSocial">Razão Social</label>
            <input type="text" class="form-control" id="RazaoSocial" name="empresa.RazaoSocial" placeholder="Razão Social" value="@ViewBag.Empresa.RazaoSocial">
            <span class="erro">@Html.ValidationMessage("empresa.RazaoSocial")</span>
        </div>
    </div>

    <div class="form-row pb-5 ">
        <div class="form-group col-md-3">
            <label for="CNPJ">CNPJ</label>
            <input type="text" class="form-control" id="CNPJ" name="empresa.Cnpj" placeholder="CNPJ" onBlur="javascript: validarCNPJ(this.value);" value="@ViewBag.Empresa.Cnpj">
            <span class="erro" id="Erro_Cnpj">@Html.ValidationMessage("empresa.Cnpj")</span>

        </div>
        <div class="form-group col-md-5">
            <label for="NomeFantasia">Nome Fantasia</label>
            <input type="text" class="form-control" id="NomeFantasia" name="empresa.NomeFantasia" placeholder="Nome Fantasia" value="@ViewBag.Empresa.NomeFantasia">
        </div>
    </div>
    <input name="empresa.EnderecoEmpresa.Id" value="@ViewBag.Empresa.EnderecoEmpresa.Id" class="IdEndereco" />
    <div class="form-row pb-1 pt-4 ">
        <div class="form-group col-md-2">
            <label for="inputCEP">CEP</label>
            <div class="input-group mb-1">
                <input type="text" class="form-control" id="inputCEP" placeholder="CEP" name="empresa.EnderecoEmpresa.CEP" value="@ViewBag.Empresa.EnderecoEmpresa.CEP">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary tooltip" title="Buscando..." type="button" id="buscarCEP"><img src="~/Content/img/Lupa2.png" width="20" height="20" alt=""></button>
                </div>

            </div>
        </div>
    </div>

    <div class="form-row pb-2">
        <div class="form-group col-md-5">
            <label for="Logradouro">Logradouro</label>
            <input type="text" class="form-control" id="Logradouro" name="empresa.EnderecoEmpresa.Logradouro" placeholder="Ex: Rua Exemplo XI" value="@ViewBag.Empresa.EnderecoEmpresa.Logradouro">
        </div>
        <div class="form-group col-md-2">
            <label for="LogradouroNumero">Numero</label>
            <input type="text" class="form-control" id="LogradouroNumero" name="empresa.EnderecoEmpresa.Numero" placeholder="Ex: 1234" value="@ViewBag.Empresa.EnderecoEmpresa.Numero">
        </div>
        <div class="form-group col-md-5">
            <label for="LogradouroComplemento">Complemento</label>
            <input type="text" class="form-control" id="LogradouroComplemento" name="empresa.EnderecoEmpresa.Complemento" placeholder="Ex: Sala 02" value="@ViewBag.Empresa.EnderecoEmpresa.Complemento">
        </div>
    </div>
    <div class="form-row pb-2">
        <div class="form-group col-md-5">
            <label for="LogradouroBairro">Bairro</label>
            <input type="text" class="form-control" id="LogradouroBairro" name="empresa.EnderecoEmpresa.Bairro" placeholder="Ex: Vila Formosa" value="@ViewBag.Empresa.EnderecoEmpresa.Bairro">
        </div>
        <div class="form-group col-md-2">
            <label for="LogradouroEstado">Estado</label>
            <select id="LogradouroEstado" name="empresa.EnderecoEmpresa.Estado.Id" class="form-control">
                <option selected></option>
                @foreach (var estado in ViewBag.EstadosUf)
                {
                    <option value="@estado.Id" selected="@estado.Id.Equals(ViewBag.Empresa.EnderecoEmpresa.Estado.Id)">@estado.Sigla</option>
                }


            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="LogradouroCidade">Cidade</label>
            <input type="text" class="form-control" id="LogradouroCidade" name="empresa.EnderecoEmpresa.Cidade" placeholder="Ex: Blumenau" value="@ViewBag.Empresa.EnderecoEmpresa.Cidade">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="empresa.Email" placeholder="Email" value="@ViewBag.Empresa.Email">
        </div>
        <div class="form-group col-md-6">
            <label for="Telefone">Telefone</label>
            <input type="text" class="form-control" id="Telefone" name="empresa.Telefone" placeholder="473333-3333" value="@ViewBag.Empresa.Telefone">
        </div>
    </div>

    <button type="submit" id="Botao_Salvar" class="btn botao_cor_verde btn-lg">Salvar</button>

    <div class="form-row float-right">
        <div class="form-group col-md-1">
            <input type="submit" id="Botao_Excluir_Formulario" formaction="/Empresa/Excluir" onclick="return confirm('Confirma Exclusão do Registro @ViewBag.Empresa.Id?')" value="Excluir" class="btn botao_cor btn-lg">
        </div>
    </div>
}




