
@{
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}
<h3 class="pb-3">Cadastro Empresa</h3>
@Html.ActionLink("Novo", "Form", "0", new { @class = "btn botao_cor btn-sm" })
<h5 class="pt-1">Filtrar</h5>
@using (Html.BeginForm("Filtro", "Empresa", FormMethod.Get, new { @id = "FiltroEmpresa", @name = "FiltroEmpresa" }))
{
    <div class="form-row pb-1 pt-1">
        <div class="form-group col-md-2">
            <select id="OpcaoFiltro" class="form-control" name="coluna">
                <option selected>Todos</option>
                <option>Código</option>
                <option>Razão Social</option>
                <option>Nome Fantasia</option>
                <option>CNPJ</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <div class="input-group mb-1">
                <input type="text" class="form-control" name="texto" placeholder="Pesquisar">
                <div class="input-group-append">
                   <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><img src="~/Content/img/Lupa2.png" width="20" height="20" alt=""></button>
                   
                </div>
            </div>
        </div>
    </div>
}
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Ação</th>
                    <th>Código</th>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                    <th>Nome Fantasia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Empresa in ViewBag.Empresas)
                {
                    <tr onclick="location.href = '@Url.Action("Form", "Empresa", new { Id = Empresa.Id})';" style="cursor:Pointer">
                        <td><a href="@Url.Action("Excluir", "Empresa", new { Id = Empresa.Id})" class="Botao_Excluir" onclick="return confirm('Confirma Exclusão do Registro @Empresa.Id ? ') "><img type="button" src="~/Content/img/lixeira.png" width="20" height="20" /></a></td>
                        <td>@Empresa.Id</td>
                        <td>@Empresa.RazaoSocial</td>
                        <td id="CNPJ">@Empresa.Cnpj</td>
                        <td>@Empresa.NomeFantasia</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

