    @{
        ViewBag.Title = "Escalas";
        Layout = "~/Views/Shared/_LayoutAdm.cshtml";

    }

@section css{
    <link rel="stylesheet" href="~/Content/CSS/CadastroEscala.css">
}


<h2 class="pb-3">Cadastro Escala</h2>
@Html.ActionLink("Novo", "/Form", null, new { @class = "btn botao_padrao btn-sm" })
@using (Html.BeginForm("Adiciona", "Escalas", FormMethod.Post, new { @id = "CadastroEscala", @name = "CadastroEscala" }))
{
    <div class="form-row pb-1 pt-4 ">
        <div class="form-group col-md-2">
            <label for="CodigoEscala">Código</label>
            <div class="input-group mb-1">
                <input type="text" class="form-control" id="Escala_id" disabled placeholder="Código" name="escala.Id" value="@ViewBag.Escalas.Id">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index", "Escalas")';" type="button" id="button-addon2"><img src="~/Content/img/Lupa2.png" width="20" height="20" alt=""></button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="DescricaoEscala">Descrição</label>
            <input type="text" class="form-control" id="DescricaoEscala" name="escala.Descricao" placeholder="Ex: Escala Geral" value="@ViewBag.Escalas.Descricao">
            <span class="erro" id="ErroDescricao">@Html.ValidationMessage("escala.Descricao")</span>
        </div>
    </div>
}

    
@using (Html.BeginForm("NovoHorario", "Escalas", FormMethod.Post, new { @id = "CadastroEscalaHorario", @name = "CadastroEscalaHorario" }))
{
    <span class="erro">@Html.ValidationMessage("AdicionarNovoHorario")</span>
    <div class="" id="EscalaCaddastro">
        <br />
        <br />
        <h4 class="pb-3">Adicionar Escala</h4>
        <div class="form-row pb-1 pt-1 ">

            <div class="form-group col-md-4 tabela_check">

                <table>
                    <tr>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="checks" type="checkbox" id="Segunda" value="Segunda">
                                <label class="form-check-label" for="Segunda">Segunda</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="checks" type="checkbox" id="Terça" value="Terça">
                                <label class="form-check-label" for="Terça">Terça</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="checks" type="checkbox" id="Quarta" value="Quarta">
                                <label class="form-check-label" for="Quarta">Quarta</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="checks" type="checkbox" id="Quinta" value="Quinta">
                                <label class="form-check-label" for="Quinta">Quinta</label>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="checks" type="checkbox" id="Sexta" value="Sexta">
                                <label class="form-check-label" for="Sexta">Sexta</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="checks" type="checkbox" id="Sábado" value="Sábado">
                                <label class="form-check-label" for="Sábado">Sábado</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="checks" type="checkbox" id="Domingo" value="Domingo">
                                <label class="form-check-label" for="Domingo">Domingo</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-row pb-1 ">

            <div class="form-group col-md-2">
                <label>Entrada</label>
                <input type="time" id="NovoHoraEntrada" value="00:00" name="NovoHoraEntrada" class="form-control">
                <span class="erro">@Html.ValidationMessage("NovoHoraEntrada")</span>
            </div>
            <div class="form-group col-md-2">
                <label>Saida</label>
                <input type="time" id="NovoHoraSaida" value="00:00" name="NovoHoraSaida" class="form-control">
                <span class="erro">@Html.ValidationMessage("NovoHoraSaida")</span>
            </div>
            <input name="EscalaID" value="@ViewBag.Escalas.Id" class="Oculto" />

            <div class="form-group col-md-2">
                <div class="form-group pt-4 mt-2">
                    <button type="button" id="NovaLinhaEscala" class="btn botao_adicionar btn-sm">Adicionar</button>
                </div>
            </div>

        </div>

        <div>
            <table class="table table-bordered table-hover table-responsive-xl table-sm tabela">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ação</th>
                        <th scope="col">Código</th>
                        <th scope="col">Dia da Semana</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Saida</th>
                        <th scope="col">Horas Trabalhadas</th>
                    </tr>
                </thead>
                <tbody>

                    @{ int TotalSemana = 0;}
                    @foreach (var Escala in ViewBag.Escalas.EscalasHorario)
                    {
                        int TotalHoras = Escala.TotalEmMinutos / 60;
                        int TotalMinutos = Escala.TotalEmMinutos % 60;
                        TotalSemana += Escala.TotalEmMinutos;

                        <tr>
                            <td><a href="@Url.Action("ExcluirEscalaHorario", "Escalas", new { EscalaHorarioID = Escala.Id })" class="Botao_Excluir" onclick="return confirm('Confirma Exclusão do Registro @Escala.Id ? ') "><img type="button" src="~/Content/img/lixeira.png" width="20" height="20" /></a></td>
                            <td>@Escala.Id</td>
                            <td>@Escala.DiaSemana</td>
                            <td>@Escala.EntradaHora.ToString("D2"):@Escala.EntradaMinuto.ToString("D2")</td>
                            <td>@Escala.SaidaHora.ToString("D2"):@Escala.SaidaMinuto.ToString("D2")</td>
                            <td>@TotalHoras.ToString("D2"):@TotalMinutos.ToString("D2")</td>
                        </tr>
                    }
                    @{
                        int TotalSemanaHora = TotalSemana / 60;
                        int TotalSemanaMinutos = TotalSemana % 60;
                    }
                    <tr>
                        <th colspan="4">Total de Horas Semana: </th>
                        <th>@TotalSemanaHora.ToString("D2"):@TotalSemanaMinutos.ToString("D2")</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

<br>
<button type="button" id="Botao_Salvar_Escala" class="btn botao_cor_verde btn-lg">Salvar</button>

<div class="form-row float-right">
    <div class="form-group col-md-1">
        <input type="button" id="Botao_Excluir_Formulario_Escala" formaction="/Escalas/Excluir"  value="Excluir" class="btn botao_cor btn-lg">
    </div>
</div>


@section scripts{
    <script src="~/Content/js/CadastroEscala.js"></script>
}