@using PagedList.Mvc
@model PagedList.IPagedList<PontoB.Models.Escala>

@{
    ViewBag.Title = "Escalas";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/CSS/CadastroEscala.css">
}

<h3 class="pb-3">Cadastro Escalas</h3>
@Html.ActionLink("Novo", "Form", "0", new { @class = "btn botao_cor btn-sm" })
<h5 class="pt-1">Filtrar</h5>
@using (Html.BeginForm("Filtro", "Escalas", FormMethod.Get, new { @id = "FiltroEscalas", @name = "FiltroEscalas" }))
{
    <div class="form-row pb-1 pt-1">
        <div class="form-group col-md-2">
            <select id="OpcaoFiltro" class="form-control" name="coluna">
                <option selected="@ViewBag.FiltroColuna.Equals("Todos")">Todos</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Código")">Código</option>
                <option selected="@ViewBag.FiltroColuna.Equals("Descrição")">Descrição</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <div class="input-group mb-1">
                <input type="text" class="form-control" name="texto" value="@ViewBag.Filtro" placeholder="Pesquisar">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><img src="~/Content/img/Lupa2.png" width="20" height="20" alt=""></button>

                </div>
            </div>
        </div>
    </div>
}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Ação</th>
                <th>Código</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Escalas in Model)
            {
                <tr onclick="location.href = '@Url.Action("Form", "Escalas", new { Id = Escalas.Id})';" style="cursor:Pointer">
                    <td><a href="@Url.Action("Excluir", "Escalas", new { Id = Escalas.Id})" class="Botao_Excluir" onclick="return confirm('Confirma Exclusão do Registro @Escalas.Id ? ') "><img type="button" src="~/Content/img/lixeira.png" width="20" height="20" /></a></td>
                    <td>@Escalas.Id</td>
                    <td>@Escalas.Descricao</td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page, coluna = ViewBag.FiltroColuna, filtro = ViewBag.Filtro }), new PagedListRenderOptions
{
    FunctionToTransformEachPageLink = (liTag, aTag) =>
    {
        aTag.Attributes.Add("class", "page-link");
        liTag.InnerHtml = aTag.ToString();
        return liTag;
    },
    LiElementClasses = new[] { "page-item" },
    UlElementClasses = new[] { "pagination justify-content-center" }
})
</div>


@section scripts{
    <script src="~/Content/js/CadastroEscala.js"></script>
}