
<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ponto B - Cartão Ponto</title>
    <link rel="icon" href="~/Content/img/LogoB.gif">

    <!-- Font Google Knewave CSS -->
    <link rel="stylesheet" href="~/Content/CSS/fontknewave.css" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/tooltipster.bundle.min.css" />

    <!--CSS Próprio -->
    <link rel="stylesheet" href="~/Content/CSS/menuAdm.css">
    @RenderSection("css", required: false)


</head>
<body class="Fundo">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand Fonte-Knewave-Red" href="@Url.Action("Index", "Home")"> <img src="~/Content/img/LogoB.gif" width="30" height="29" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (Request.IsAuthenticated)
        {
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">

                    @if (User.IsInRole("Master"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="@Url.Action("Index", "Ausencia")">Ausências</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Colaborador")">Colaboradores</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Empresa")">Empresas</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Escalas")">Escalas</a>
                            </div>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registro Ponto</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="@Url.Action("Index", "RegistroPonto")">Registrar</a>
                            <a class="dropdown-item" href="@Url.Action("Historico", "RegistroPonto")">Histórico</a>
                        </div>
                    </li>
                    @if (User.IsInRole("Master"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fechamento</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="#">Calcular</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "CalculoPonto")">Manutenção</a>
                            </div>
                        </li>

                    }


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Item</a>
                            <a class="dropdown-item" href="#">Outro item</a>
                            <a class="dropdown-item" href="#">Algum outro item</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configurações</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <label class="user pr-4">@User.Identity.Name</label>
                    <a class="btn p-1 mb-0 botao_cor" type="button" href="@Url.Action("Logout", "Login")">Sair</a>
                </form>
            </div>
        }
    </nav>


    <main>
        <div class="pt-5 form-signin">
            <div class="FundoSecao mt-3  centro">
                <!-- AQUI VAI O CONTEUDO DA PAGINA -->
                <!-------------Inicio---------------->


                @RenderBody()




                <!-- AQUI VAI O CONTEUDO DA PAGINA -->
                <!-------------FIM------------------->
            </div>
        </div>

        <!-- Modal Genérico Para Alert-->
        <div class="modal fade" id="ModalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Título do modal</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label id="conteudoModal"></label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn botao_cor_verde btn-sm" id="Botao1" data-dismiss="modal" value="Fechar" />
                        <button class="btn botao_padrao btn-sm" id="Botao2" data-dismiss="modal" value="Salvar mudanças"></button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery.mask.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/tooltipster.bundle.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
    <script src="~/Content/js/modalAlert.js"></script>





    @RenderSection("scripts", required: false)
</body>
</html>
