@model IList<PontoB.Models.ViewModels.VRelatorios.CartaoPonto.CartaoPonto>
@using PontoB.Controllers.RegrasDeNegocios.RCalculo;
@{
    ViewBag.Title = "CartaoPonto";
}
@foreach (var ponto in Model)
{


    <div class="borda" style="page-break-after: always;">

        <table class="tabela borda">
            <!-- Cabeçalho -->

            <thead class="linhaCabecalho">
                <tr>
                    <th COLSPAN="5">FOLHA PONTO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td COLSPAN="5">Apuração: @ponto.DataInicio.ToShortDateString() à @ponto.DataFim.ToShortDateString()</td>
                </tr>
            </tbody>
            <tr>
                <td class="espaco"></td>
            </tr>
            <thead class="linhaCabecalho">
                <tr>
                    <th COLSPAN="5">DADOS DO EMPREGADOR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td COLSPAN="4">Razão Social: @ponto.Empresa.RazaoSocial</td>
                    <td COLSPAN="1">CNPJ: @ponto.Empresa.Cnpj</td>
                </tr>
                <tr>
                    <td COLSPAN="5">Endereço: @ponto.Empresa.EnderecoEmpresa.ToString()</td>
                </tr>
            </tbody>

            <tr>
                <td class="espaco"></td>
            </tr>
            <thead class="linhaCabecalho">
                <tr>
                    <th COLSPAN="5">DADOS DO COLABORADOR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td COLSPAN="3">Nome: @ponto.Colaborador.NomeCompleto</td>
                    <td COLSPAN="1">Cargo: @ponto.Colaborador.Cargo</td>
                    <td COLSPAN="1">Admissão: @ponto.Colaborador.DataAdmissao.Value.ToShortDateString()</td>
                </tr>
                <tr>
                    <td COLSPAN="3">CPF: @ponto.Colaborador.CPF</td>
                    <td COLSPAN="1">PIS: @ponto.Colaborador.Pis</td>
                </tr>
            </tbody>
            <tr>
                <td class="espaco"></td>
            </tr>
            <thead class="linhaCabecalho">
                <tr>
                    <th COLSPAN="5">ESCALA: @ponto.Colaborador.EscalaId</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td COLSPAN="5">
                        <table>
                            @foreach (var escala in ponto.RelatorioEscala)
                            {
                                <tr>
                                    <td COLSPAN="1">@escala.DiaDaSemana:</td>
                                    <td COLSPAN="4">@escala.Horario</td>
                                </tr>
                            }

                        </table>
                    </td>
                </tr>
            </tbody>
            <tr>
                <td class="espaco"></td>
            </tr>
            <thead class="linhaCabecalho">
                <tr>
                    <th COLSPAN="5">REGISTROS PONTO</th>
                </tr>
            </thead>
            <tr>
                <td COLSPAN="5" class="registro">
                    <table border='1' class="tabela">
                        <thead>
                            <tr>
                                <th rowspan="2">DATA</th>
                                <th rowspan="2">MARCAÇÕES NO REP</th>
                                <th rowspan="2">REGISTROS CONSIDERADOS</th>
                                <th rowspan="2">OCORRÊNCIAS</th>
                                <th colspan="3">HORAS</th>
                                <th rowspan="2">SALDO DIA</th>
                            </tr>
                            <tr>
                                <th>PREVISTAS</th>
                                <th>TRABALHADAS</th>
                                <th>ABONADAS</th>
                               
                            </tr>
                        </thead>
                        @foreach (var registro in ponto.RegistroPontoCalculo)
                        {
                            if (registro.Data >= ponto.Colaborador.DataAdmissao && (ponto.Colaborador.DataDemissao == null || registro.Data <= ponto.Colaborador.DataDemissao))
                            {
                                <tr>
                                    <td>@registro.Data.ToShortDateString()</td>
                                    <td>@registro.MarcacaoRep</td>
                                    <td>@registro.RegistroConsiderado</td>
                                    <td>
                                        <table class="tabela">

                                            @foreach (var ausencia in registro.AusenciaColaboradores)
                                            {
                                                <tr>

                                                    <td>@ausencia.MotivoAusencia.Descricao</td>


                                                </tr>
                                            }
                                            @foreach (var modificado in registro.RegistroPontosModificados)
                                            {
                                                <tr>
                                                    <td>@modificado.DataRegistro.Hour.ToString("D2"):@modificado.DataRegistro.Minute.ToString("D2") - @modificado.Observacao</td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                    @{
                                        var Horas = new CalculoPonto(registro.Ocorrencias);
                                        
                                    }
                                    <td>@((Horas.HorasPrevista / 60).ToString("D2") + ":" + (Horas.HorasPrevista % 60).ToString("D2"))</td>
                                    <td>@((Horas.HorasTrabalhadas / 60).ToString("D2") + ":" + (Horas.HorasTrabalhadas % 60).ToString("D2"))</td>
                                    <td>@((Horas.AusenciaAbona / 60).ToString("D2") + ":" + (Horas.AusenciaAbona % 60).ToString("D2"))</td>
                                    


                                    @{
                                        var saldo = (registro.Saldo / 60).ToString("D2") + ":" + ((registro.Saldo % 60) < 0 ? ((registro.Saldo % 60) * -1).ToString("D2") : (registro.Saldo % 60).ToString("D2"));
                                    }

                                    <td>@saldo</td>
                                </tr>
                            }
                        }


                    </table>

                </td>
            </tr>



            <tr>
                <td class="espaco"></td>
            </tr>
            <thead class="linhaCabecalho">
                <tr>
                    <th COLSPAN="5">TOTALIZADORES</th>
                </tr>
            </thead>

            <tr>
                <td class="espaco"></td>
            </tr>
            <tbody class="centro">
                <tr>
                    <td COLSPAN="5">HORAS PREVISTAS: @((ponto.CalculoPonto.HorasPrevista / 60).ToString("D2") + ":" + (ponto.CalculoPonto.HorasPrevista % 60).ToString("D2"))</td>
                </tr>
                <tr>
                    <td COLSPAN="5">HORAS TRABALHADAS: @((ponto.CalculoPonto.HorasTrabalhadas / 60).ToString("D2") + ":" + (ponto.CalculoPonto.HorasTrabalhadas % 60).ToString("D2"))</td>
                </tr>
                <tr>
                    <td COLSPAN="5">HORAS EXCEDENTES: @((ponto.CalculoPonto.HorasExedentes / 60).ToString("D2") + ":" + (ponto.CalculoPonto.HorasExedentes % 60).ToString("D2"))</td>
                </tr>
                <tr>
                    <td COLSPAN="5">HORAS FALTAS: @((ponto.CalculoPonto.HorasFaltas / 60).ToString("D2") + ":" + (ponto.CalculoPonto.HorasFaltas % 60).ToString("D2"))</td>
                </tr>
                <tr>
                    <td COLSPAN="5">HORAS ABONADAS: @((ponto.CalculoPonto.AusenciaAbona / 60).ToString("D2") + ":" + (ponto.CalculoPonto.AusenciaAbona % 60).ToString("D2"))</td>
                </tr>
                <tr>
                    <td COLSPAN="5">SALDO DO PERÍODO: @ponto.SaldoPeriodo</td>
                </tr>
                <tr>
                    <td class="espaco"></td>
                </tr>
                <tr>
                    <td COLSPAN="5">Reconheço com exatidão todos os registros constantes neste documento, pois representam o ocorrido neste periodo.</td>
                </tr>
                <tr>
                    <td class="espaco"></td>
                </tr>
                <tr>
                    <td COLSPAN="5">________________________________________________________________________________</td>
                </tr>

                <tr>
                    <td COLSPAN="5">@ponto.Colaborador.NomeCompleto</td>
                </tr>
            </tbody>

        </table>
    </div>
}

